<div class="page-title-container">
  <div class="container">
      <div class="page-title pull-left">
          <h2 class="entry-title">About Us</h2>
      </div>
      <ul class="breadcrumbs pull-right">
          <li><a routerLink="/home">HOME</a></li>
          <li class="active">About Us</li>
      </ul>
  </div>
</div>

<section id="content">
  <div class="container">
      <div id="main">
          <div class="large-block image-box style6">
              <article >
                  <h2>CONTRIBUTING LIVES,  CONTRIBUTING NATURE</h2>
              </article>    
              <article class="box">
                  <figure class="col-md-5">
                      <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                  </figure>
                  <div class="details col-md-offset-5">
                      <h4 class="box-title">Innovation</h4>
                      <p>Our mission statement always encourages us to innovate, adapt to change for contribution to nature and healthy life.</p>
                  </div>
              </article>
              <article class="box">
                  <figure class="col-md-5 pull-right middle-block">
                      <a href="#" title=""><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                  </figure>
                  <div class="details col-md-7">
                      <h4 class="box-title">Passion</h4>
                      <p>Devotion to provide healthy lifestyle to our clients, by providing plots near to flora and fauna. We love what we do, and that’s our passion.</p>
                  </div>
              </article>
              <article class="box">
                  <figure class="col-md-5">
                      <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/489x489" alt="" /></a>
                  </figure>
                  <div class="details col-md-offset-5">
                      <h4 class="box-title">Excellence</h4>
                      <p>We seek excellence and endure in whatever we do. We strive for quality in everything
                        that we do</p>
                  </div>
              </article>
          </div>

         

      </div>
  </div>
</section>