<div class="page-title-container">
  <div class="container">
      <div class="page-title pull-left">
          <h2 class="entry-title">About Us</h2>
      </div>
      <ul class="breadcrumbs pull-right">
          <li><a href="#">HOME</a></li>
          <li><a href="#">PAGES</a></li>
          <li class="active">About Us</li>
      </ul>
  </div>
</div>

<section id="content">
  <div class="container">
      <div id="main">
          <div class="large-block image-box style6">
              <article class="box">
                  <figure class="col-md-5">
                      <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                  </figure>
                  <div class="details col-md-offset-5">
                      <h4 class="box-title">Who We Are?</h4>
                      <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                  </div>
              </article>
              <article class="box">
                  <figure class="col-md-5 pull-right middle-block">
                      <a href="#" title=""><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                  </figure>
                  <div class="details col-md-7">
                      <h4 class="box-title">What We Do?</h4>
                      <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                  </div>
              </article>
              <article class="box">
                  <figure class="col-md-5">
                      <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/489x489" alt="" /></a>
                  </figure>
                  <div class="details col-md-offset-5">
                      <h4 class="box-title">How Travelo Work?</h4>
                      <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                  </div>
              </article>
          </div>

         

      </div>
  </div>
</section>