<header id="header" class="navbar-static-top">
    <div class="topnav hidden-xs hide">
        <div class="container">
            <ul class="quick-menu pull-left">
                <li>
                    <a>Call On<strong> {{phoneNumber}} </strong></a>
                </li>
            </ul>
            <ul class="quick-menu pull-right">
                <li><a class="soap-popupbox">LOGIN</a></li>
                <li><a class="soap-popupbox">SIGNUP</a></li>
            </ul>
        </div>
    </div>

    <div class="main-header">
        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
      Mobile Menu Toggle
    </a>

        <div class="container">
            <h1 class="logo navbar-brand">
                <a routerLink="home" title="Phonix Developer - home">
                    <img src="assets/images/logo.png" alt="Phonix Developer" />
                </a>
            </h1>

            <nav id="main-menu" role="navigation">
                <ul class="menu">
                    <li class="menu-item-has-children">
                        <a routerLink="home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="project">Project</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="about">About</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="news">News</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="pages/gallery">Gallery</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="contact">Contact</a>
                    </li>
                </ul>
                <div class="enquiery-now">
                    <a (click)="openModal()">Enquiry Now</a>
                </div>
            </nav>
        </div>

        <nav id="mobile-menu-01" class="mobile-menu collapse">
            <ul id="mobile-primary-menu" class="menu">
                <li class="menu-item-has-children">
                    <a routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a routerLink="project">Project</a>
                </li>
                <li class="menu-item-has-children">
                    <a routerLink="about">About</a>
                </li>
                <li class="menu-item-has-children">
                    <a routerLink="news">News</a>
                </li>
                <li class="menu-item-has-children">
                    <a routerLink="about">Contact</a>
                </li>
                <li class="menu-item-has-children">
                    <a (click)="openModal()">Enquiry Now</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Share your Details. We will contact you</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="travelo-box">
            <form class="contact-form" method="post" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="alert small-box" style="display: none;"></div>
                <div class="form-group">
                    <label>Your Name *</label>
                    <input type="text" name="name" class="input-text full-width" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="f.name.touched && f.name.invalid" class="error">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                    <div *ngIf="submitted && f.name.errors" class="error">
                        <div *ngIf="f.name.errors.required && !f.name.touched">Full Name is required</div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-6">
                        <label>Your Email ID *</label>
                        <input type="text" name="email" class="input-text full-width" formControlName="email" />
                        <div *ngIf="f.email.touched && f.email.invalid" class="error">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">
                                Please enter valid email
                            </div>
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="error">
                            <div *ngIf="f.email.errors.required && !f.email.touched">Email is required</div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>Mobile No *</label>
                        <input type="text" name="mobile_no" class="input-text full-width" formControlName="mobile_no" />
                        <div *ngIf="f.mobile_no.touched && f.mobile_no.invalid" class="error">
                            <div *ngIf="f.mobile_no.errors.required">Mobile No is required</div>
                        </div>
                        <div *ngIf="submitted && f.mobile_no.errors" class="error">
                            <div *ngIf="f.mobile_no.errors.required && !f.mobile_no.touched">Mobile No is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Your Message *</label>
                    <textarea name="message" rows="6" class="input-text full-width" placeholder="Write message here" formControlName="message"></textarea>
                    <div *ngIf="f.message.touched && f.message.invalid" class="error">
                        <div *ngIf="f.message.errors.required">Message is required</div>
                    </div>
                    <div *ngIf="submitted && f.message.errors" class="error">
                        <div *ngIf="f.message.errors.required && !f.message.touched">Message is required</div>
                    </div>
                </div>
                <button class="btn-medium">
                SEND MESSAGE
              </button>
            </form>
        </div>
    </div>
</ng-template>
