#footer .footer-wrapper {
    padding: 24px 0;
    background: #353535;
    color: #fff;
}

#footer h2 {
    color: #fff;
    font-weight: 100;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.contact-details .contact-phone {
    color: #fff;
}