<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Porject Details</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a routerLink="/home">HOME</a></li>
      <li class="active">Porject Details</li>
    </ul>
  </div>
</div>
<section id="content">
  <div class="container flight-detail-page">
    <div class="row">
      <div id="main" class="col-md-9">
        <div class="tab-container style1 box" id="flight-main-content">
          <div class="tab-content">
            <div id="photo-tab" class="tab-pane fade in active">
              <div class="featured-image image-container">
                <carousel>
                  <slide *ngFor="let post of propertyAllImages; let i = index;">
                      <img src="http://placehold.it/870x530" alt="i" style="display: block; width: 100%; max-height: 500px;">
                  </slide>
              </carousel>
              
              </div>
            </div>
          </div>
        </div>

        <div id="flight-features" class="tab-container">
          <ul class="tabs">
            <li class="active">
              <a href="#property-details" data-toggle="tab">Overview</a>
            </li>
            <li>
              <a href="#property-features" data-toggle="tab">Features</a>
            </li>
            <li>
              <a href="#property-document" data-toggle="tab">Document</a>
            </li>
            <li>
              <a href="#layout" data-toggle="tab">Layout</a>
            </li>
            <li>
              <a href="#video" data-toggle="tab">Video</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="property-details">
              <div class="long-description">
                <h2>About Project</h2>
                <div [innerHtml]="projectDetails.propertyData.overview | safeHtml: 'html'"></div>

              </div>
            </div>
            <div class="tab-pane fade" id="property-features">
              <h2>Features </h2>
              <div [innerHtml]="projectDetails.propertyData.overview | safeHtml: 'html'"></div>

              
              
            </div>
            <div class="tab-pane fade" id="property-document">
              <h2>Select your Seats</h2>
              <p>
                Would you like a window seat or treat yourself to more comfort?
                Select your seats online in advance with our easy-to-use seat
                map. You can choose and change your seat until 48 hours before
                departure, when booking on Travelo.com. Also you can choose and
                change your seats at a self-service machine at the airport.
              </p>
              <hr />
              <div class="image-box style12">
                <article class="box">
                  <figure>
                    <img
                      src="http://placehold.it/120x100"
                      alt=""
                      class="middle-item"
                    />
                  </figure>
                  <div class="details">
                    <h4 class="box-title">Standard advance seat selection</h4>
                    <p>
                      Sed aliquam nunc eget velit imperdiet, in rutrum mauris
                      malesuada. Quisque ullamcor vulputate nisi, et fringilla
                      ante convallis quis.
                    </p>
                  </div>
                  <div class="action">
                    <span class="price"><small>starting at</small>$18</span>
                    <a href="flight-booking.html" class="button btn-small"
                      >SELECT NOW</a
                    >
                  </div>
                </article>
                <hr />
                <article class="box">
                  <figure>
                    <img
                      src="http://placehold.it/120x100"
                      alt=""
                      class="middle-item"
                    />
                  </figure>
                  <div class="details">
                    <h4 class="box-title">Standard advance seat selection</h4>
                    <p>
                      Sed aliquam nunc eget velit imperdiet, in rutrum mauris
                      malesuada. Quisque ullamcor vulputate nisi, et fringilla
                      ante convallis quis.
                    </p>
                  </div>
                  <div class="action">
                    <span class="price"><small>starting at</small>$18</span>
                    <a href="flight-booking.html" class="button btn-small"
                      >SELECT NOW</a
                    >
                  </div>
                </article>
                <hr />
                <article class="box">
                  <figure>
                    <img
                      src="http://placehold.it/120x100"
                      alt=""
                      class="middle-item"
                    />
                  </figure>
                  <div class="details">
                    <h4 class="box-title">Standard advance seat selection</h4>
                    <p>
                      Sed aliquam nunc eget velit imperdiet, in rutrum mauris
                      malesuada. Quisque ullamcor vulputate nisi, et fringilla
                      ante convallis quis.
                    </p>
                  </div>
                  <div class="action">
                    <span class="price"><small>starting at</small>$18</span>
                    <a href="flight-booking.html" class="button btn-small"
                      >SELECT NOW</a
                    >
                  </div>
                </article>
                <hr />
                <article class="box">
                  <figure>
                    <img
                      src="http://placehold.it/120x100"
                      alt=""
                      class="middle-item"
                    />
                  </figure>
                  <div class="details">
                    <h4 class="box-title">Standard advance seat selection</h4>
                    <p>
                      Sed aliquam nunc eget velit imperdiet, in rutrum mauris
                      malesuada. Quisque ullamcor vulputate nisi, et fringilla
                      ante convallis quis.
                    </p>
                  </div>
                  <div class="action">
                    <span class="price"><small>starting at</small>$18</span>
                    <a href="flight-booking.html" class="button btn-small"
                      >SELECT NOW</a
                    >
                  </div>
                </article>
              </div>
            </div>
            <div class="tab-pane fade" id="layout">
              <h2>Baggage</h2>
              <p>
                In this section you'll find information on baggage allowances,
                special equipment and sports items as well as restricted items.
                We've also included some tips to make your trip more enjoyable.
              </p>
              <div class="baggage column-5">
                <div class="icon-box style9">
                  <i class="soap-icon-carryon"></i>
                  <h5 class="box-title">Carry-on<br />Allowance</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-baggage"></i>
                  <h5 class="box-title">Baggage<br />Allowance</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-delayed-baggage"></i>
                  <h5 class="box-title">Delayed<br />Baggage</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-damaged-baggage"></i>
                  <h5 class="box-title">Damaged<br />Baggage</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-baggage-status"></i>
                  <h5 class="box-title">Baggage<br />Status</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-phone"></i>
                  <h5 class="box-title">Baggage<br />Services</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-status"></i>
                  <h5 class="box-title">Baggage<br />Tips</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-restricted"></i>
                  <h5 class="box-title">Restricted<br />Items</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-liability"></i>
                  <h5 class="box-title">Liability<br />Limitations</h5>
                </div>
                <div class="icon-box style9">
                  <i class="soap-icon-lost-found"></i>
                  <h5 class="box-title">Lost and<br />Found</h5>
                </div>
              </div>

              <hr />
              <h2>Basic Information</h2>
              <p>
                Sed aliquam nunc eget velit imperdiet, in rutrum mauris
                malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante
                convallis quis. Nullam vel tellus non elit suscipit volutpat.
                Integer id felis et nibh rutrum dignissim ut non risus. In
                tincidunt urna quis sem luctus, sed accumsan magna pellentesque.
                Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor
                sodales lectus. Donec et tellus tempus, dignissim maurornare,
                consequat lacus. Integer dui neque, scelerisque nec sollicitudin
                sit amet, sodales a erat. Duis vitae condimentum ligula. Integer
                eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis
                scelerisque velit.
              </p>
            </div>
            <div class="tab-pane fade" id="video">
              <h2>Video</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/li73hE4AtRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar col-md-3">
        <article class="detailed-logo">
          <figure>
            <img src="https://www.phoenixdeveloper.in/backend/upload/property/{{projectDetails.propertyData.img}}" alt="" />
          </figure>
          <div class="details">
            <h2 class="box-title">
              {{projectDetails.propertyData.title}}
            </h2>
            <span class="price clearfix">
              <small class="pull-left">Per Square</small>
              <span class="pull-right">140/-</span>
            </span>

            <p class="description" [innerHtml]="projectDetails.propertyData.intro | safeHtml: 'html'">
      
            </p>
            <a
              routerLink="/project/enquiry/1"
              class="button green full-width uppercase btn-medium"
              >Enquiry Now</a
            >
          </div>
        </article>
        <div class="travelo-box contact-box">
          <h4>Need Any Help?</h4>
          <p>
            We would be more than happy to help you. Our team advisor are 24/7
            at your service to help you.
          </p>
          <address class="contact-details">
            <span class="contact-phone"
              ><i class="soap-icon-phone"></i> 1-800-123-HELLO</span
            >
            <br />
            <a class="contact-email" href="#">help@phoenixdeveloper.in</a>
          </address>
        </div>
        <div class="travelo-box book-with-us-box">
          <h4>Why Book with us?</h4>
          <ul>
            <li>
              <i class="soap-icon-hotel-1 circle"></i>
              <h5 class="title"><a href="#">135,00+ Property</a></h5>
              <p>Nunc cursus libero pur congue arut nimspnty.</p>
            </li>
            <li>
              <i class="soap-icon-savings circle"></i>
              <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
              <p>Nunc cursus libero pur congue arut nimspnty.</p>
            </li>
            <li>
              <i class="soap-icon-support circle"></i>
              <h5 class="title"><a href="#">Excellent Support</a></h5>
              <p>Nunc cursus libero pur congue arut nimspnty.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
