<app-home-banner></app-home-banner>
<section id="content">
    <div class="search-box-wrapper">
        <div class="search-box container">
            <div class="search-tab-content">
                <div class="tab-pane fade active in" id="hotels-tab">
                    <form action="hotel-list-view.html" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-1"></div>
                            <div class="form-group col-sm-6 col-md-3">
                                <h4 class="title">Where</h4>
                                <label>Location</label>
                                <select class="full-width" name="location">
                                    <option  *ngFor="let location of locationList" [value]="location.lc_id" >{{location.lc_name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6 col-md-4">
                                <h4 class="title"></h4>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Property Type</label>
                                        <select class="full-width" name="type">
                                            <option  *ngFor="let typeP of typeList" [value]="typeP.pt_id" >{{typeP.pt_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">

                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated" data-animation-type="bounce" data-animation-duration="1">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <h2>Best Property Offers</h2>
        <div class="row image-box listing-style1 flight">
            <div class="col-sm-6 col-md-4" *ngFor="let group of projectList">
                <article class="box">
                    <figure class="" data-animation-type="fadeInDown">
                        <span><img alt="{{group.title}}" src="{{group.img}}" style="height:180px"></span>
                    </figure>
                    <div class="details">
                        <h4 class="box-title">{{group.title}}<small> Pune</small></h4>

                        <p class="duration fourty-space">Plot size : 2700 — 5500 sq ft</p>
                        <p class="duration fourty-space">Collector Sanctioned</p>
                        <p class="duration fourty-space">Residential Plots with 4 side Wall </p>
                        <p class="duration fourty-space">7-12 : Separate Extract for Each Plot</p>
                        <div class="action">
                            <a class="button btn-small full-width" routerLink="/project/details/{{group.pid}}">More Details</a>
                        </div>
                    </div>
                </article>
            </div>


        </div>
    </div>

    <!--<div class="global-map-area mobile-section parallax" data-stellar-background-ratio="0.5">
      <div class="container">
          <div class="table-wrapper hidden-table-sm">
              <div class="col-md-6 description section table-cell">
                  <h1>Take Travelo With You Wherever You Go!</h1>
                  <div class="review clearfix">
                      <div class="five-stars-container pull-left"><div class="five-stars transparent-bg" style="width: 100%;"></div></div>
                      &nbsp;&nbsp;&nbsp;<label><small class="white-color uppercase">455 user ratings</small></label>
                  </div>
                  <br>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>

                  <a class="button btn-extra blue"><i class="soap-icon-apple"></i><span>Download from<br><em>apple store</em></span></a>
                  <a class="button btn-extra yellow"><i class="soap-icon-googleplay"></i><span>Download from<br><em>google play</em></span></a>
              </div>
              <div class="col-md-6 image-wrapper table-cell hidden-sm">
                  <img src="http://placehold.it/594x417" alt="" class="animated" data-animation-type="fadeInUp">
              </div>
          </div>
      </div>
  </div> -->

    <div class="global-map-area section parallax" data-stellar-background-ratio="0.5">
        <div class="container description">
            <h1 class="text-center box">Why Phoenix Land Developers</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0">
                        <i class="soap-icon-hotel"></i>
                        <h4 class="box-title">5,000+ Property</h4>
                        <p class="description">
                            5000+ verified properties & still counting. Maximum options for Buyers to search New Homes.
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0.6">
                        <i class="soap-icon-insurance"></i>
                        <h4 class="box-title">High Visibility</h4>
                        <p class="description">
                            More than 40,000+ views for Homes Or Properties.
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0.9">
                        <i class="soap-icon-star-1"></i>
                        <h4 class="box-title">Diverse Locality</h4>
                        <p class="description">
                            Search properties in more than 300+ localities. Buyers can search Properties in different localities
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="1.2">
                        <i class="soap-icon-support"></i>
                        <h4 class="box-title">Direct Seller Contact</h4>
                        <p class="description">
                            Get in touch with Sellers within NO TIME. Buyers stay away from fake Dealers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>