<carousel *ngIf="banner" [isAnimated]="true" class="home-banner">
    <slide *ngFor="let post of banner; let i = index;">
        <a href="{{post.banner_link}}">
            <img src="{{post.banner_image}}" alt="first slide" class="image-slider">
            <img src="{{post.mobile_banner_image}}" alt="first slide" class="mobile-image-slider">
        </a>
    </slide>
</carousel>
<div class="clearfix"></div>
<section id="content">
    <div class="search-box-wrapper">
        <div class="search-box container">
            <div class="search-tab-content">
                <div class="tab-pane fade active in" id="hotels-tab">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12 col-md-2 padding-bottom-20">
                                    <h4 class="title">Find Property</h4>
                                </div>
                                <div class="col-sm-12 col-md-4 padding-bottom-20">
                                    <!-- <label>Location</label> -->
                                    <select class="full-width" name="location">
                                      <option value="">Location</option>
                                      <option *ngFor="let location of locationList" [value]="location.lc_id" >{{location.lc_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 padding-bottom-20">
                                    <!-- <label>Property Type</label> -->
                                    <select class="full-width" name="type">
                                      <option value="">Property Type</option>
                                      <option  *ngFor="let typeP of typeList" [value]="typeP.pt_id" >{{typeP.pt_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-2 fixheight padding-bottom-20">
                                    <button type="submit" class="full-width icon-check animated" data-animation-type="bounce" data-animation-duration="1">SEARCH NOW</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container section offers-box">
        <div class="inline-block width-100 text-center">
            <h2 class="offers-box-headline">Best Property Offers</h2>
        </div>
        <div class="row image-box listing-style1 flight">
            <div class="col-sm-6 col-md-3" *ngFor="let group of projectList">
                <article class="box">
                    <figure class="" data-animation-type="fadeInDown">
                        <span class="hover-effect">
                          <img alt="{{group.title}}" src="{{group.img}}" style="height:180px">
                        </span>
                    </figure>
                    <div class="details">
                        <h4 class="box-title">{{group.title}}<small>{{group.plocationdistrict}}</small></h4>
                        <p class="duration fourty-space">Plot size : {{group.seq}} sq ft</p>
                        <p class="duration fourty-space">{{group.pt_name}}</p>
                        <p class="duration fourty-space">7-12 : Separate Extract for Each Plot</p>
                        <div class="action">
                            <a class="button btn-medium" routerLink="/project/details/{{group.pid}}">Know More <i class="soap-icon-longarrow-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>


        </div>
    </div>

    <div class="global-map-area parallax">
        <div class="section background-color">
            <div class="container description">
                <div class="inline-block width-100 text-center">
                    <h2 class="text-center box padding-bottom-20 margin-bottom-60" style="border-bottom: 2px solid; width: auto; display: inline-block;">Why Phoenix Land Developers</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0">
                            <i class="soap-icon-hotel"></i>
                            <h4 class="box-title padding-top-10 padding-bottom-10">5,000+ Property</h4>
                            <p class="description">
                                5000+ verified properties & still counting. Maximum options for Buyers to search New Homes.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0.6">
                            <i class="soap-icon-insurance"></i>
                            <h4 class="box-title padding-top-10 padding-bottom-10">High Visibility</h4>
                            <p class="description">
                                More than 40,000+ views for Homes Or Properties.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="0.9">
                            <i class="soap-icon-star-1"></i>
                            <h4 class="box-title padding-top-10 padding-bottom-10">Diverse Locality</h4>
                            <p class="description">
                                Search properties in more than 300+ localities. Buyers can search Properties in different localities
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="icon-box style8 animated" data-animation-type="slideInUp" data-animation-delay="1.2">
                            <i class="soap-icon-support"></i>
                            <h4 class="box-title padding-top-10 padding-bottom-10">Direct Seller Contact</h4>
                            <p class="description">
                                Get in touch with Sellers within NO TIME. Buyers stay away from fake Dealers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>