.masonry-item {
    width: 350px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.listing-style1.flight .action .button,
.listing-style1.car .action .button {
    background: #b96503;
    width: auto !important;
    padding: 6px 10px;
    height: 40px;
    margin: 0 auto;
}

.listing-style1.flight .action .button:hover,
.listing-style1.car .action .button:hover {
    background: #d28731;
}

#content {
    margin-top: 1rem;
}

.testimonial.style1 .description,
.testimonial.style2 .description {
    font-size: 1.3333em;
    color: #01b7f2;
    font-style: italic;
}

.testimonial.style1 .author,
.testimonial.style2 .author {
    /* margin: 25px 0 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
}

.image-box .box .box-title,
.image-box.box .box-title {
    margin-bottom: 10px;
    color: #b96503;
    font-size: 22px;
}
