<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Gallery</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a routerLink="/home">HOME</a></li>
            <li class="active">Gallery</li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <!-- <div class="items-container isotope row image-box style9 image-gallery">
                <div *ngFor="let item of items; index as i" class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-4 filter-all filter-island filter-beach">
                    <article class="box">
                        <figure>
                            <img [lightbox]="i" [src]="item.data.thumb">
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Family Beach Tour</h4>
                        </div>
                    </article>
                </div>
            </div> -->
            <div class="items-container isotope row image-box style9 image-gallery">
                <div *ngFor="let item of imageList; index as i;" class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-4 filter-all filter-island filter-beach">
                    <article class="box">
                        <figure>
                            <img [lightbox]="i" [src]="item.g_img">
                        </figure>
                        <div class="details">
                            <h4 class="box-title">{{item.title}}</h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>